/* App.css */

.calculator {
    width: 1500px;
    margin: 50px auto; 
    height: 600px;
    border: 1px solid #ccc;
    font-size: 80px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 769px) and (max-width: 1000px) {
    .calculator {
      height: 500px;
      width: 90%; 
      font-size: 60px; 
    }
  }

  @media (max-width: 768px) {
    .calculator {
      width: 400px;
      font-size: 40px; 
      height: 500px;
    }
  }
  
  